# Don't track content of these folders
project/Blastdb/*
project/BlastResult/
project/DbAmbigua/
project/FinalResult/
project/Nuevadb/
project/Temp
project/Test
venv/
project/Categories/
project/Databases/
build/
dist/
#files
*.pdf